body {
    background-color: #303030;
    text-align: center;
}

h2 {
    color: #FF5050;
    text-align: center;
    font-family: 'Titan One', cursive;
    font-size: 50px;
    padding-top: 40px;
}

h3 {
    color: #FF5050;
    text-align: center;
    font-family: 'Titan One', cursive;
    font-size: 20px;
    padding-top: 30px;
}

.block-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 410px;
    margin: auto;
}

.block {
    width: 100px;
    height: 100px;
    background-color: #f4bc42;
    margin: 1px;
}

.level-1, .level-2, .level-3 {
    margin: 15px;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: #FF5050;
}

.level-2 {
    /* opacity: 30%; */
}